body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #808080;
    color: white; /* Changed to white for all text */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background: #800000;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.container {
    display: flex;
    max-width: 100%; /* Prevent overflow */
    box-sizing: border-box; /* Include padding/margin in width calculation */
}

.sidebar {
    width: 250px; /* Set a reasonable width for the sidebar */
    background-color: #5A5A5A; /* Dark background color */
    color: white; /* White text color */
    padding: 20px; /* Padding around the sidebar */
    position: fixed; /* Keep sidebar fixed */
    top: 20px; /* Align with the header */
    left: 0; /* Align the sidebar to the left */
    height: calc(100% - 40px); /* Full height minus top padding */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    z-index: 1;
    border-radius: 8px; /* Rounded corners for the sidebar */
}

.sidebar h2 {
    font-size: 1.5em; /* Header size */
}

.sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.sidebar ul li {
    margin: 10px 0; /* Space between list items */
}

.sidebar a {
    color: white; /* White links */
    text-decoration: none; /* Remove underline */
}

.sidebar a:hover {
    text-decoration: underline; /* Underline on hover */
}

main {
    margin-left: 270px; /* Ensure space to the right of the sidebar */
    padding: 20px;
    flex-grow: 1; /* Allow main content to grow */
    box-sizing: border-box; /* Include padding in width calculation */
}

section {
    background: #5A5A5A;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background: #800000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
    z-index: 10; /* Bring the footer to the front */
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgray; /* Optional: add a hover effect */
}

table {
    border: 1px solid white;
    padding: 16px; /* Increase padding to 16 pixels */
}

td, th {
    outline: 1px solid white;
    padding: 16px; /* Increase padding to 16 pixels */
}
