body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #808080;
    color: white;
    overflow-x: hidden;
    margin-right: 20px;
}

header {
    background: #800000;
    color: white;
    padding: 20px 0; /* Use vertical padding only */
    text-align: center; /* Center the text */
    z-index: 10;
    position: sticky;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
    margin: 0; /* Ensure no margin */
}


.container {
    display: flex;
    max-width: 100%;
}

.sidebar {
    margin-top: 210px;
    margin-left: 20px;
    width: 250px;
    background-color: #5A5A5A;
    color: white;
    padding: 20px;
    position: fixed;
    top: 20px;
    left: 0;
    overflow-y: auto;
    z-index: 1;
    border-radius: 8px;
}

.sidebar h2 {
    font-size: 1.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin-left: 350px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #5A5A5A;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

footer {
    background: #800000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgray;
}

table {
  border: 1px solid white;
  padding: 16px;
}

td, th {
  outline: 1px solid white;
  padding: 16px;
}
